BASE_URL=
SIGNUP_URL=
AGNOS_USERNAME=
AGNOS_PASSWORD=
GOOGLE_APPLICATION_CREDENTIALS=D:\1JOB\Agnos test\KEY API.json
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_TAB_NAME=Test 
GOOGLE_SHEETS_SUMMARY_TAB_NAME=

