BASE_URL=https://dev.app.agnoshealth.com
SIGNUP_URL=https://dev.app.agnoshealth.com/ai dashboard/agnos/sign up
AGNOS_USERNAME=test@gmail.com
AGNOS_PASSWORD=12345
GOOGLE_APPLICATION_CREDENTIALS=D:\1JOB\Agnos test\KEY API.json
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_TAB_NAME=Test Results
GOOGLE_SHEETS_SUMMARY_TAB_NAME=AI Summary

